In [3]:
import numpy as np
import pandas as pd

In [9]:
encodings = ['utf-8','latin1','ISO-8859-1','cp1252']
file_path = 'spam.csv'
#Attempts to read file using different Encodings
for encoding in encodings:
    try:
        df = pd.read_csv(file_path,encoding=encoding)
        print(f"File successfully read with encoding: {encoding}")
        break
    except UnicodeDecodeError:
        print(f"Failed to read with Encoding: {encoding}")
        continue
if 'df' in locals():
    print("CSV file has been successfully loaded.")
else:
    print("All encoding attempt failed. Unable to read the CSV File.")

Failed to read with Encoding: utf-8
File successfully read with encoding: latin1
CSV file has been successfully loaded.

In [10]:
df.sample(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
2494,ham,You at mu? You should try to figure out how mu...,NaN,NaN,NaN
1308,ham,I jokin oni lar.. ÌÏ busy then i wun disturb Ì_.,NaN,NaN,NaN
1514,ham,K:)all the best:)congrats...,NaN,NaN,NaN
3889,spam,Double Mins & 1000 txts on Orange tariffs. Lat...,NaN,NaN,NaN
3452,ham,Nowadays people are notixiquating the laxinorf...,NaN,NaN,NaN
455,ham,Si si. I think ill go make those oreo truffles.,NaN,NaN,NaN
470,spam,okmail: Dear Dave this is your final notice to...,NaN,NaN,NaN
2930,ham,Hi' Test on &lt;#&gt; rd ....,NaN,NaN,NaN
744,ham,Men like shorter ladies. Gaze up into his eyes.,NaN,NaN,NaN
2099,spam,"SMS SERVICES. for your inclusive text credits,...",NaN,NaN,NaN